


@media (max-width:1195px){
  
   .nav-menu{
       display: none;
   }
   .header{
       display: flex;
       justify-content: space-between;
   }
   #burger{
       display: block;
       width: 30px;
       height: 30px;
       float: right;
       background-image: url("/project_garbuz/source/img/icons8-меню-30.png");
   }
   .beforeafter_foto{
       display: none;
   }
   .consultation{
      
       
       text-align: center;
       
   }
  
   .twentytwenty-wrapper{
       display: none;
   }
   .why-us{
       padding-top: 50px;
   }
   .nav-menu{
      display: none;
  }
  .header{
      display: flex;
      justify-content: space-between;
  }
  #burger{
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      background-image: url("../img/icons8-меню-30.png");
  }
  .beforeafter_foto{
      display: none;
  }
  
  .twentytwenty-wrapper{
      display: none;
  }
  .why-us{
      padding-top: 50px;
  }
  .bgimg h2{
    height: 90%;
  }
  .why-us__item {
    width: calc(33.33%-30px);
    margin: 0;
  }
  .why-us__list {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}





@media (max-width:877px){
   .container{
      max-width: 100%;
   }
   body{
      
      background-size: cover;
      
      background-position: -450px;
   }
   .nav-menu{
       display: none;
   }
   .header{
       display: flex;
       justify-content: space-between;
   }
   #burger{
       display: block;
       width: 30px;
       height: 30px;
       float: right;
       background-image: url("/project_garbuz/source/img/icons8-меню-30.png");
   }
   .beforeafter_foto{
       display: none;
   }
   .consultation{
       
       margin-top: 50px;
   }
   .twentytwenty-wrapper{
       display: none;
   }
   .nav-menu{
      display: none;
  }
  .header{
      display: flex;
      justify-content: space-between;
  }
  #burger{
      display: block;
      width: 30px;
      height: 30px;
      float: right;
      background-image: url("../img/icons8-меню-30.png");
  }
  .beforeafter_foto{
      display: none;
  }
  
  .twentytwenty-wrapper{
      display: none;
  }
}




@media (max-width: 600px) {
   .footer-distributed .footer-left, .footer-distributed .footer-right {
     text-align: center;
   }
   .footer-distributed .footer-right {
     float: none;
     margin: 0 auto 20px;
   }
   .footer-distributed .footer-left p.footer-links {
     line-height: 1.8;
   }
   .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
    .container #burger{
     display: inline-block;
    }
    #header{
    
      
    }
    .container h2 {
      display: inline-block;
    }
    .welcome-screen{
      display: block;
    }
 }







